h1, p {
  font-family: Lato;
}
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.margin-up{
  margin-top: 20px;
}
.list-group-item{
  cursor: pointer;
}
i.fa-spinner{font-size:3.6em;}
.spinner-container{padding-top:34px;}


.logo{
  height:54px;
}

.user-img{
  border-radius: 50%;
}
.user-details{
  margin:8px 0  0 10px;
}

.input-group-append .btn{
  padding:12px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}